@tailwind base;
@tailwind components;
@tailwind utilities;

/*#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}*/

body {
  @apply min-h-screen m-0;
}

footer {
  @apply min-h-full;
}

/* The article fills all the space between header & footer */

body {
  @apply flex flex-col;
}

main {
  @apply flex-1;
}

.background {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

footer a {
  @apply text-light;
}

a,
.tab {
  @apply no-underline;
}

a:hover {
  @apply underline;
}

footer {
  @apply z-footer;
}

footer a.tab {
  @apply text-light no-underline;
}

footer a.tab:hover {
  @apply text-gray-light;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.3));
}

/* hide the tooltip on touch devices */
@media (pointer: none),
(pointer: coarse) {
  .leaflet-tooltip {
    @apply hidden invisible;
  }
}
